<html>

<head>
  <meta charset="utf-8">   
  <meta content="width=device-width, initial-scale=1" name="viewport" /> 
  <title>Results</title>   
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
  {% load static %}
  <script type="text/javascript" src="{% static 'js/papaparse.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://code.highcharts.com/modules/heatmap.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/boost-canvas.js"></script>
  <script src="https://code.highcharts.com/modules/boost.js"></script>
  <script type="text/javascript" src="papaparse.min.js"></script>
  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>


  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">        
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}">    
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">    
  <link rel="stylesheet" href="{% static 'css/result.css' %}">    
</head>

<body data-spy="scroll" data-target="#navbar-charts" data-offset="0">
  <header></header>
  <input type="hidden" id="myVar_bubble" name="variable" value="{{ data_str_bubble }}">
  <input type="hidden" id="myVar_line" name="variable" value="{{ data_str_line }}">
  <input type="hidden" id="myVar_polar" name="variable" value="{{ data_str_polar }}">
  <input type="hidden" id="myVar_scatter" name="variable" value="{{ data_str_scatter }}">

  <nav id="navbar-charts" class="nav card navbar navbar-light bg-light nav-pills flex-column">
    <a class="nav-link" href="#bubble_container_header">Chart1</a>   
    <a class="nav-link" href="#line_container_header">Chart2</a>   
    <a class="nav-link" href="#polar_container_header">chart3</a>   
    <a class="nav-link" href="#scatter_container_header">chart4</a>   
    <a class="nav-link" href="#heatmap_container_header">chart5</a>       
  </nav>
  <p id="demo"></p>
  <div id="charts" class="container charts" >
    <div class="row chart card"> <h2 id="bubble_container_header" class="card-header">chart title</h2>
      <div  class="card-body" id="bubble_container"  style="height:450px;width:800px;"></div></div>

    <div class="row chart card"> <h2 id="line_container_header"class="card-header">chart title</h2>
      <div class="card-body" id="line_container"    style="height:600px;width:1000px;"></div></div>

    <div class="row chart card"> <h2 id="polar_container_header"class="card-header">chart title</h2>
      <div class="card-body" id="polar_container"   style="height:600px;width:1000px;"></div></div>

    <div class="row chart card"> <h2 id="scatter_container_header" class="card-header">chart title</h2>
      <div class="card-body" id="scatter_container"   style="height:600px;width:1000px;"></div></div>

    <div class="row chart card"> <h2 id="heatmap_container_header" class="card-header">chart title</h2>
      <div class="card-body" id="heatmap_container"   style="height:600px;width:1000px;"></div></div>
  </div>

<pre id="csv" style="display: none">Date,Time,Temperature
2017-01-01,0,2.7
2017-01-01,1,2.5
2017-01-01,2,1.8
2017-01-01,3,1.5
2017-01-01,4,1.8
2017-01-01,5,1.7
2017-01-01,6,1.7
2017-01-01,7,1.7
2017-01-01,8,1.7
2017-01-01,9,1.9
2017-01-01,10,2.0
2017-01-01,11,3.4
2017-01-01,12,4.7
2017-01-01,13,4.4
2017-01-01,14,4.0
2017-01-01,15,3.5
2017-01-01,16,3.0
2017-01-01,17,3.1
2017-01-01,18,2.6
2017-01-01,19,2.1
2017-01-01,20,2.2
2017-01-01,21,2.1
2017-01-01,22,1.9
2017-01-01,23,1.4
2017-01-02,0,1.7
2017-01-02,1,1.8
2017-01-02,2,1.9
2017-01-02,3,1.9
2017-01-02,4,1.9
2017-01-02,5,1.8
2017-01-02,6,0.9
2017-01-02,7,0.6
2017-01-02,8,-0.2
2017-01-02,9,-0.5
2017-01-02,10,-0.8
2017-01-02,11,-1.0
2017-01-02,12,-1.0
2017-01-02,13,-0.6
2017-01-02,14,-0.2
2017-01-02,15,-0.1
2017-01-02,16,-0.3
2017-01-02,17,-0.8
2017-01-02,18,-1.1
2017-01-02,19,-1.3
2017-01-02,20,-1.1
2017-01-02,21,-0.6
2017-01-02,22,-0.5
2017-01-02,23,-0.5
2017-01-03,0,-0.7
2017-01-03,1,-0.6
2017-01-03,2,-0.5
2017-01-03,3,-0.3
2017-01-03,4,0.1
2017-01-03,5,0.4
2017-01-03,6,0.9
2017-01-03,7,0.8
2017-01-03,8,0.6
2017-01-03,9,0.4
2017-01-03,10,0.5
2017-01-03,11,1.0
2017-01-03,12,2.5
2017-01-03,13,4.3
2017-01-03,14,3.4
2017-01-03,15,2.3
2017-01-03,16,1.1
2017-01-03,17,0.5
2017-01-03,18,0.3
2017-01-03,19,0.7
2017-01-03,20,1.1
2017-01-03,21,0.8
2017-01-03,22,0.9
2017-01-03,23,1.2
2017-01-04,0,2.5
2017-01-04,1,3.2
2017-01-04,2,2.8
2017-01-04,3,2.6
2017-01-04,4,3.0
2017-01-04,5,2.3
2017-01-04,6,0.7
2017-01-04,7,0.4
2017-01-04,8,0.2
2017-01-04,9,-0.7
2017-01-04,10,-2.2
2017-01-04,11,-3.2
2017-01-04,12,-2.9
2017-01-04,13,0.1
2017-01-04,14,1.4
2017-01-04,15,1.1
2017-01-04,16,0.5
2017-01-04,17,1.1
2017-01-04,18,-0.4
2017-01-04,19,-2.4
2017-01-04,20,-3.8
2017-01-04,21,-4.5
2017-01-04,22,-5.2
2017-01-04,23,-5.5
2017-01-05,0,-6.6
2017-01-05,1,-7.5
2017-01-05,2,-7.5
2017-01-05,3,-7.9
2017-01-05,4,-8.3
2017-01-05,5,-8.5
2017-01-05,6,-8.6
2017-01-05,7,-9.3
2017-01-05,8,-9.7
2017-01-05,9,-9.8
2017-01-05,10,-9.1
2017-01-05,11,-9.3
2017-01-05,12,-8.5
2017-01-05,13,-8.0
2017-01-05,14,-7.2
2017-01-05,15,-7.5
2017-01-05,16,-7.2
2017-01-05,17,-7.4
2017-01-05,18,-8.1
2017-01-05,19,-8.6
2017-01-05,20,-9.1
2017-01-05,21,-9.2
2017-01-05,22,-9.3
2017-01-05,23,-9.9
2017-01-06,0,-9.2
2017-01-06,1,-9.6
2017-01-06,2,-9.5
2017-01-06,3,-8.6
2017-01-06,4,-7.0
2017-01-06,5,-6.0
2017-01-06,6,-5.3
2017-01-06,7,-5.2
2017-01-06,8,-4.9
2017-01-06,9,-5.0
2017-01-06,10,-5.0
2017-01-06,11,-4.8
2017-01-06,12,-4.4
2017-01-06,13,-4.0
2017-01-06,14,-3.6
2017-01-06,15,-3.3
2017-01-06,16,-3.1
2017-01-06,17,-2.9
2017-01-06,18,-2.8
2017-01-06,19,-2.5
2017-01-06,20,-2.2
2017-01-06,21,-1.8
2017-01-06,22,-1.2
2017-01-06,23,0.1
2017-01-07,0,1.7
2017-01-07,1,3.8
2017-01-07,2,4.0
2017-01-07,3,3.0
2017-01-07,4,2.6
2017-01-07,5,3.2
2017-01-07,6,3.8
2017-01-07,7,3.7
2017-01-07,8,2.7
2017-01-07,9,2.2
2017-01-07,10,2.1
2017-01-07,11,1.6
2017-01-07,12,1.7
2017-01-07,13,2.0
2017-01-07,14,2.2
2017-01-07,15,2.3
2017-01-07,16,2.0
2017-01-07,17,1.7
2017-01-07,18,1.4
2017-01-07,19,0.9
2017-01-07,20,0.2
2017-01-07,21,-0.3
2017-01-07,22,-0.6
2017-01-07,23,-0.9
2017-01-08,0,-1.6
2017-01-08,1,-2.2
2017-01-08,2,-1.9
2017-01-08,3,-1.3
2017-01-08,4,-0.7
2017-01-08,5,0.0
2017-01-08,6,0.1
2017-01-08,7,-0.1
2017-01-08,8,-0.1
2017-01-08,9,-0.1
2017-01-08,10,0.0
2017-01-08,11,0.1
2017-01-08,12,0.3
2017-01-08,13,0.4
2017-01-08,14,0.7
2017-01-08,15,0.8
2017-01-08,16,0.7
2017-01-08,17,0.7
2017-01-08,18,0.9
2017-01-08,19,2.1
2017-01-08,20,2.9
2017-01-08,21,2.9
2017-01-08,22,2.5
2017-01-08,23,2.5
2017-01-09,0,1.8
2017-01-09,1,1.5
2017-01-09,2,1.5
2017-01-09,3,1.6
2017-01-09,4,1.4
2017-01-09,5,1.3
2017-01-09,6,1.4
2017-01-09,7,1.7
2017-01-09,8,1.6
2017-01-09,9,1.7
2017-01-09,10,1.7
2017-01-09,11,1.7
2017-01-09,12,2.0
2017-01-09,13,2.1
2017-01-09,14,2.3
2017-01-09,15,2.0
2017-01-09,16,1.8
2017-01-09,17,1.7
2017-01-09,18,1.7
2017-01-09,19,1.8
2017-01-09,20,1.7
2017-01-09,21,1.7
2017-01-09,22,1.8
2017-01-09,23,2.1
2017-01-10,0,2.0
2017-01-10,1,2.0
2017-01-10,2,2.1
2017-01-10,3,1.9
2017-01-10,4,2.1
2017-01-10,5,2.2
2017-01-10,6,2.1
2017-01-10,7,2.2
2017-01-10,8,2.1
2017-01-10,9,1.5
2017-01-10,10,0.9
2017-01-10,11,0.4
2017-01-10,12,0.2
2017-01-10,13,-0.3
2017-01-10,14,0.5
2017-01-10,15,1.0
2017-01-10,16,1.4
2017-01-10,17,1.5
2017-01-10,18,1.7
2017-01-10,19,1.7
2017-01-10,20,1.6
2017-01-10,21,1.7
2017-01-10,22,2.2
2017-01-10,23,2.9
2017-01-11,0,2.9
2017-01-11,1,3.6
2017-01-11,2,2.2
2017-01-11,3,1.9
2017-01-11,4,1.9
2017-01-11,5,1.7
2017-01-11,6,1.8
2017-01-11,7,1.6
2017-01-11,8,1.6
2017-01-11,9,1.6
2017-01-11,10,1.5
2017-01-11,11,1.6
2017-01-11,12,1.8
2017-01-11,13,1.8
2017-01-11,14,1.1
2017-01-11,15,1.5
2017-01-11,16,2.0
2017-01-11,17,2.6
2017-01-11,18,3.8
2017-01-11,19,3.8
2017-01-11,20,3.2
2017-01-11,21,1.9
2017-01-11,22,1.3
2017-01-11,23,1.2
2017-01-12,0,1.1
2017-01-12,1,1.8
2017-01-12,2,1.9
2017-01-12,3,1.4
2017-01-12,4,0.9
2017-01-12,5,1.7
2017-01-12,6,0.9
2017-01-12,7,0.6
2017-01-12,8,0.8
2017-01-12,9,1.1
2017-01-12,10,1.2
2017-01-12,11,2.0
2017-01-12,12,1.7
2017-01-12,13,1.7
2017-01-12,14,1.8
2017-01-12,15,1.6
2017-01-12,16,1.6
2017-01-12,17,1.5
2017-01-12,18,1.4
2017-01-12,19,1.3
2017-01-12,20,1.0
2017-01-12,21,1.5
2017-01-12,22,2.0
2017-01-12,23,2.1
2017-01-13,0,2.2
2017-01-13,1,1.4
2017-01-13,2,0.7
2017-01-13,3,0.5
2017-01-13,4,0.3
2017-01-13,5,0.2
2017-01-13,6,-0.1
2017-01-13,7,-1.5
2017-01-13,8,-2.6
2017-01-13,9,-3.4
2017-01-13,10,-3.2
2017-01-13,11,-2.6
2017-01-13,12,-2.2
2017-01-13,13,-1.5
2017-01-13,14,-1.0
2017-01-13,15,-0.4
2017-01-13,16,0.0
2017-01-13,17,0.1
2017-01-13,18,0.3
2017-01-13,19,0.5
2017-01-13,20,1.5
2017-01-13,21,2.5
2017-01-13,22,2.5
2017-01-13,23,2.2
2017-01-14,0,2.0
2017-01-14,1,1.7
2017-01-14,2,1.6
2017-01-14,3,1.3
2017-01-14,4,1.3
2017-01-14,5,1.2
2017-01-14,6,0.8
2017-01-14,7,1.3
2017-01-14,8,1.0
2017-01-14,9,0.7
2017-01-14,10,0.4
2017-01-14,11,0.0
2017-01-14,12,0.1
2017-01-14,13,0.1
2017-01-14,14,0.1
2017-01-14,15,-0.2
2017-01-14,16,-1.0
2017-01-14,17,-1.9
2017-01-14,18,-2.4
2017-01-14,19,-2.9
2017-01-14,20,-2.3
2017-01-14,21,-2.5
2017-01-14,22,-2.9
2017-01-14,23,-2.8
2017-01-15,0,-2.6
2017-01-15,1,-2.9
2017-01-15,2,-3.3
2017-01-15,3,-3.4
2017-01-15,4,-4.1
2017-01-15,5,-3.9
2017-01-15,6,-3.6
2017-01-15,7,-4.5
2017-01-15,8,-5.0
2017-01-15,9,-4.7
2017-01-15,10,-4.8
2017-01-15,11,-5.7
2017-01-15,12,-5.6
2017-01-15,13,-5.3
2017-01-15,14,-5.4
2017-01-15,15,-5.6
2017-01-15,16,-5.6
2017-01-15,17,-5.7
2017-01-15,18,-5.6
2017-01-15,19,-4.9
2017-01-15,20,-4.5
2017-01-15,21,-4.1
2017-01-15,22,-4.1
2017-01-15,23,-4.2
2017-01-16,0,-4.4
2017-01-16,1,-4.8
2017-01-16,2,-4.7
2017-01-16,3,-4.4
2017-01-16,4,-4.5
2017-01-16,5,-4.5
2017-01-16,6,-5.0
2017-01-16,7,-6.1
2017-01-16,8,-7.6
2017-01-16,9,-8.3
2017-01-16,10,-8.7
2017-01-16,11,-8.7
2017-01-16,12,-8.5
2017-01-16,13,-8.1
2017-01-16,14,-7.0
2017-01-16,15,-6.0
2017-01-16,16,-5.4
2017-01-16,17,-5.0
2017-01-16,18,-4.6
2017-01-16,19,-4.2
2017-01-16,20,-3.8
2017-01-16,21,-3.6
2017-01-16,22,-3.4
2017-01-16,23,-3.3
2017-01-17,0,-3.1
2017-01-17,1,-3.0
2017-01-17,2,-3.3
2017-01-17,3,-3.5
2017-01-17,4,-3.5
2017-01-17,5,-3.4
2017-01-17,6,-3.3
2017-01-17,7,-3.0
2017-01-17,8,-2.9
2017-01-17,9,-2.6
2017-01-17,10,-2.4
2017-01-17,11,-2.3
2017-01-17,12,-2.0
2017-01-17,13,-1.8
2017-01-17,14,-1.4
2017-01-17,15,-1.2
2017-01-17,16,-1.2
2017-01-17,17,-1.1
2017-01-17,18,-0.9
2017-01-17,19,-0.8
2017-01-17,20,-0.7
2017-01-17,21,-0.6
2017-01-17,22,-0.5
2017-01-17,23,-0.3
2017-01-18,0,-0.2
2017-01-18,1,0.0
2017-01-18,2,0.0
2017-01-18,3,0.1
2017-01-18,4,0.1
2017-01-18,5,0.1
2017-01-18,6,0.2
2017-01-18,7,0.3
2017-01-18,8,0.3
2017-01-18,9,0.3
2017-01-18,10,0.3
2017-01-18,11,0.5
2017-01-18,12,0.8
2017-01-18,13,1.2
2017-01-18,14,1.8
2017-01-18,15,3.4
2017-01-18,16,6.5
2017-01-18,17,7.0
2017-01-18,18,5.2
2017-01-18,19,3.0
2017-01-18,20,3.7
2017-01-18,21,3.0
2017-01-18,22,2.9
2017-01-18,23,2.9
2017-01-19,0,2.3
2017-01-19,1,2.6
2017-01-19,2,3.0
2017-01-19,3,3.8
2017-01-19,4,4.2
2017-01-19,5,4.3
2017-01-19,6,4.9
2017-01-19,7,6.8
2017-01-19,8,8.5
2017-01-19,9,7.8
2017-01-19,10,6.3
2017-01-19,11,6.3
2017-01-19,12,6.4
2017-01-19,13,6.7
2017-01-19,14,6.6
2017-01-19,15,6.6
2017-01-19,16,6.1
2017-01-19,17,5.7
2017-01-19,18,5.3
2017-01-19,19,5.3
2017-01-19,20,5.3
2017-01-19,21,5.3
2017-01-19,22,5.6
2017-01-19,23,5.8
2017-01-20,0,6.4
2017-01-20,1,6.8
2017-01-20,2,7.3
2017-01-20,3,7.5
2017-01-20,4,9.3
2017-01-20,5,9.5
2017-01-20,6,7.4
2017-01-20,7,7.9
2017-01-20,8,8.4
2017-01-20,9,6.9
2017-01-20,10,7.4
2017-01-20,11,7.3
2017-01-20,12,6.4
2017-01-20,13,6.7
2017-01-20,14,6.7
2017-01-20,15,6.7
2017-01-20,16,6.6
2017-01-20,17,6.2
2017-01-20,18,5.8
2017-01-20,19,5.6
2017-01-20,20,5.9
2017-01-20,21,5.8
2017-01-20,22,5.8
2017-01-20,23,5.6
2017-01-21,0,5.7
2017-01-21,1,5.7
2017-01-21,2,5.7
2017-01-21,3,5.8
2017-01-21,4,5.7
2017-01-21,5,4.9
2017-01-21,6,4.7
2017-01-21,7,4.4
2017-01-21,8,4.2
2017-01-21,9,4.2
2017-01-21,10,4.3
2017-01-21,11,4.4
2017-01-21,12,4.4
2017-01-21,13,4.5
2017-01-21,14,4.7
2017-01-21,15,4.2
2017-01-21,16,3.4
2017-01-21,17,2.6
2017-01-21,18,2.1
2017-01-21,19,1.4
2017-01-21,20,1.1
2017-01-21,21,1.0
2017-01-21,22,0.9
2017-01-21,23,0.4
2017-01-22,0,0.2
2017-01-22,1,0.3
2017-01-22,2,0.3
2017-01-22,3,0.1
2017-01-22,4,0.5
2017-01-22,5,1.3
2017-01-22,6,1.6
2017-01-22,7,1.9
2017-01-22,8,2.3
2017-01-22,9,2.2
2017-01-22,10,1.5
2017-01-22,11,1.3
2017-01-22,12,1.7
2017-01-22,13,2.2
2017-01-22,14,2.9
2017-01-22,15,3.1
2017-01-22,16,3.1
2017-01-22,17,2.8
2017-01-22,18,2.3
2017-01-22,19,1.9
2017-01-22,20,1.9
2017-01-22,21,1.8
2017-01-22,22,1.8
2017-01-22,23,1.8
2017-01-23,0,1.7
2017-01-23,1,1.8
2017-01-23,2,1.8
2017-01-23,3,1.7
2017-01-23,4,1.8
2017-01-23,5,1.9
2017-01-23,6,2.3
2017-01-23,7,3.1
2017-01-23,8,4.1
2017-01-23,9,3.8
2017-01-23,10,3.4
2017-01-23,11,3.4
2017-01-23,12,3.8
2017-01-23,13,4.1
2017-01-23,14,4.1
2017-01-23,15,4.1
2017-01-23,16,4.1
2017-01-23,17,3.6
2017-01-23,18,2.9
2017-01-23,19,2.0
2017-01-23,20,1.8
2017-01-23,21,1.5
2017-01-23,22,1.7
2017-01-23,23,2.1
2017-01-24,0,2.0
2017-01-24,1,1.8
2017-01-24,2,1.6
2017-01-24,3,1.7
2017-01-24,4,1.8
2017-01-24,5,1.9
2017-01-24,6,1.5
2017-01-24,7,0.6
2017-01-24,8,-0.1
2017-01-24,9,-0.2
2017-01-24,10,0.8
2017-01-24,11,1.5
2017-01-24,12,1.8
2017-01-24,13,2.1
2017-01-24,14,2.6
2017-01-24,15,2.8
2017-01-24,16,2.6
2017-01-24,17,2.6
2017-01-24,18,2.4
2017-01-24,19,2.2
2017-01-24,20,2.0
2017-01-24,21,2.1
2017-01-24,22,2.2
2017-01-24,23,2.2
2017-01-25,0,2.3
2017-01-25,1,2.3
2017-01-25,2,2.5
2017-01-25,3,2.6
2017-01-25,4,2.5
2017-01-25,5,2.6
2017-01-25,6,2.7
2017-01-25,7,2.7
2017-01-25,8,2.9
2017-01-25,9,2.9
2017-01-25,10,3.1
2017-01-25,11,3.3
2017-01-25,12,3.6
2017-01-25,13,4.9
2017-01-25,14,6.2
2017-01-25,15,7.9
2017-01-25,16,9.6
2017-01-25,17,10.1
2017-01-25,18,10.2
2017-01-25,19,10.3
2017-01-25,20,10.3
2017-01-25,21,10.2
2017-01-25,22,10.3
2017-01-25,23,9.9
2017-01-26,0,9.3
2017-01-26,1,9.4
2017-01-26,2,9.4
2017-01-26,3,8.9
2017-01-26,4,9.3
2017-01-26,5,8.0
2017-01-26,6,8.7
2017-01-26,7,7.5
2017-01-26,8,6.1
2017-01-26,9,4.0
2017-01-26,10,1.9
2017-01-26,11,1.7
2017-01-26,12,2.2
2017-01-26,13,2.5
2017-01-26,14,2.0
2017-01-26,15,1.5
2017-01-26,16,1.4
2017-01-26,17,0.8
2017-01-26,18,0.3
2017-01-26,19,0.1
2017-01-26,20,-0.4
2017-01-26,21,-0.4
2017-01-26,22,-0.8
2017-01-26,23,-0.7
2017-01-27,0,-0.7
2017-01-27,1,-1.0
2017-01-27,2,-1.3
2017-01-27,3,-1.3
2017-01-27,4,-1.1
2017-01-27,5,-1.0
2017-01-27,6,-0.8
2017-01-27,7,-0.9
2017-01-27,8,-0.8
2017-01-27,9,-1.1
2017-01-27,10,-1.0
2017-01-27,11,-0.7
2017-01-27,12,-0.4
2017-01-27,13,0.7
2017-01-27,14,0.4
2017-01-27,15,0.3
2017-01-27,16,0.3
2017-01-27,17,0.4
2017-01-27,18,0.3
2017-01-27,19,0.7
2017-01-27,20,1.4
2017-01-27,21,1.4
2017-01-27,22,1.5
2017-01-27,23,4.6
2017-01-28,0,4.1
2017-01-28,1,4.0
2017-01-28,2,5.2
2017-01-28,3,5.3
2017-01-28,4,4.6
2017-01-28,5,4.2
2017-01-28,6,2.4
2017-01-28,7,0.7
2017-01-28,8,-0.3
2017-01-28,9,-0.6
2017-01-28,10,0.0
2017-01-28,11,0.7
2017-01-28,12,1.7
2017-01-28,13,2.5
2017-01-28,14,3.2
2017-01-28,15,3.3
2017-01-28,16,3.0
2017-01-28,17,2.7
2017-01-28,18,2.0
2017-01-28,19,1.9
2017-01-28,20,1.9
2017-01-28,21,1.9
2017-01-28,22,2.0
2017-01-28,23,1.9
2017-01-29,0,1.7
2017-01-29,1,1.7
2017-01-29,2,1.5
2017-01-29,3,1.5
2017-01-29,4,1.6
2017-01-29,5,1.8
2017-01-29,6,2.2
2017-01-29,7,2.5
2017-01-29,8,3.1
2017-01-29,9,3.3
2017-01-29,10,3.4
2017-01-29,11,4.0
2017-01-29,12,4.8
2017-01-29,13,5.3
2017-01-29,14,5.8
2017-01-29,15,5.5
2017-01-29,16,4.9
2017-01-29,17,4.9
2017-01-29,18,4.0
2017-01-29,19,3.9
2017-01-29,20,3.1
2017-01-29,21,2.8
2017-01-29,22,2.1
2017-01-29,23,1.4
2017-01-30,0,0.9
2017-01-30,1,0.8
2017-01-30,2,0.6
2017-01-30,3,0.3
2017-01-30,4,-0.4
2017-01-30,5,-1.2
2017-01-30,6,-1.1
2017-01-30,7,-1.3
2017-01-30,8,-1.6
2017-01-30,9,-2.1
2017-01-30,10,-2.3
2017-01-30,11,-2.3
2017-01-30,12,-1.7
2017-01-30,13,-1.6
2017-01-30,14,-1.4
2017-01-30,15,-1.4
2017-01-30,16,-1.6
2017-01-30,17,-1.9
2017-01-30,18,-2.2
2017-01-30,19,-2.6
2017-01-30,20,-2.9
2017-01-30,21,-3.3
2017-01-30,22,-3.6
2017-01-30,23,-3.4
2017-01-31,0,-3.3
2017-01-31,1,-3.3
2017-01-31,2,-3.2
2017-01-31,3,-3.3
2017-01-31,4,-2.9
2017-01-31,5,-3.0
2017-01-31,6,-3.6
2017-01-31,7,-3.7
2017-01-31,8,-4.1
2017-01-31,9,-4.0
2017-01-31,10,-4.2
2017-01-31,11,-4.1
2017-01-31,12,-3.8
2017-01-31,13,-3.4
2017-01-31,14,-2.7
2017-01-31,15,-2.6
2017-01-31,16,-2.7
2017-01-31,17,-2.8
2017-01-31,18,-3.5
2017-01-31,19,-4.4
2017-01-31,20,-4.7
2017-01-31,21,-5.0
2017-01-31,22,-4.9
2017-01-31,23,-5.4
2017-02-01,0,-5.5
2017-02-01,1,-5.5
2017-02-01,2,-5.1
2017-02-01,3,-5.0
2017-02-01,4,-4.6
2017-02-01,5,-4.4
2017-02-01,6,-4.2
2017-02-01,7,-3.7
2017-02-01,8,-2.7
2017-02-01,9,-1.9
2017-02-01,10,-1.5
2017-02-01,11,-0.8
2017-02-01,12,-0.3
2017-02-01,13,0.3
2017-02-01,14,0.8
2017-02-01,15,0.3
2017-02-01,16,0.0
2017-02-01,17,-0.2
2017-02-01,18,-0.4
2017-02-01,19,-0.4
2017-02-01,20,-0.5
2017-02-01,21,-0.3
2017-02-01,22,-0.2
2017-02-01,23,0.0
2017-02-02,0,0.1
2017-02-02,1,0.0
2017-02-02,2,-0.2
2017-02-02,3,-0.3
2017-02-02,4,-0.8
2017-02-02,5,-0.6
2017-02-02,6,-0.5
2017-02-02,7,-0.3
2017-02-02,8,0.5
2017-02-02,9,0.9
2017-02-02,10,2.5
2017-02-02,11,2.3
2017-02-02,12,2.2
2017-02-02,13,2.0
2017-02-02,14,2.3
2017-02-02,15,2.4
2017-02-02,16,2.5
2017-02-02,17,2.3
2017-02-02,18,2.2
2017-02-02,19,2.1
2017-02-02,20,2.1
2017-02-02,21,2.1
2017-02-02,22,2.2
2017-02-02,23,2.4
2017-02-03,0,2.5
2017-02-03,1,2.3
2017-02-03,2,2.4
2017-02-03,3,2.6
2017-02-03,4,2.6
2017-02-03,5,2.5
2017-02-03,6,2.2
2017-02-03,7,1.9
2017-02-03,8,1.6
2017-02-03,9,2.1
2017-02-03,10,2.2
2017-02-03,11,2.6
2017-02-03,12,3.3
2017-02-03,13,3.7
2017-02-03,14,4.0
2017-02-03,15,4.1
2017-02-03,16,4.1
2017-02-03,17,3.8
2017-02-03,18,3.3
2017-02-03,19,3.5
2017-02-03,20,3.4
2017-02-03,21,3.2
2017-02-03,22,2.9
2017-02-03,23,3.1
2017-02-04,0,2.8
2017-02-04,1,2.9
2017-02-04,2,3.0
2017-02-04,3,2.9
2017-02-04,4,2.8
2017-02-04,5,2.7
2017-02-04,6,2.1
2017-02-04,7,1.9
2017-02-04,8,1.4
2017-02-04,9,1.5
2017-02-04,10,1.3
2017-02-04,11,1.6
2017-02-04,12,2.3
2017-02-04,13,3.1
2017-02-04,14,4.0
2017-02-04,15,3.9
2017-02-04,16,4.7
2017-02-04,17,4.8
2017-02-04,18,4.3
2017-02-04,19,4.0
2017-02-04,20,3.2
2017-02-04,21,3.4
2017-02-04,22,3.8
2017-02-04,23,3.6
2017-02-05,0,3.7
2017-02-05,1,4.0
2017-02-05,2,3.3
2017-02-05,3,2.8
2017-02-05,4,2.2
2017-02-05,5,1.6
2017-02-05,6,1.5
2017-02-05,7,1.3
2017-02-05,8,1.1
2017-02-05,9,0.7
2017-02-05,10,1.2
2017-02-05,11,2.2
2017-02-05,12,3.1
2017-02-05,13,3.8
2017-02-05,14,4.6
2017-02-05,15,3.9
2017-02-05,16,3.3
2017-02-05,17,3.3
2017-02-05,18,3.3
2017-02-05,19,3.2
2017-02-05,20,3.3
2017-02-05,21,3.9
2017-02-05,22,3.4
2017-02-05,23,2.8
2017-02-06,0,2.6
2017-02-06,1,2.3
2017-02-06,2,2.3
2017-02-06,3,1.8
2017-02-06,4,1.5
2017-02-06,5,1.3
2017-02-06,6,1.7
2017-02-06,7,1.0
2017-02-06,8,0.5
2017-02-06,9,0.6
2017-02-06,10,1.0
2017-02-06,11,1.5
2017-02-06,12,2.0
2017-02-06,13,2.2
2017-02-06,14,3.8
2017-02-06,15,4.5
2017-02-06,16,4.5
2017-02-06,17,2.7
2017-02-06,18,1.5
2017-02-06,19,0.3
2017-02-06,20,-0.3
2017-02-06,21,1.3
2017-02-06,22,0.1
2017-02-06,23,-1.1
2017-02-07,0,-0.9
2017-02-07,1,-1.1
2017-02-07,2,-2.1
2017-02-07,3,-2.6
2017-02-07,4,-2.9
2017-02-07,5,-3.7
2017-02-07,6,-3.8
2017-02-07,7,-3.8
2017-02-07,8,-3.4
2017-02-07,9,-2.6
2017-02-07,10,-2.0
2017-02-07,11,-1.9
2017-02-07,12,-1.7
2017-02-07,13,-1.3
2017-02-07,14,-1.6
2017-02-07,15,-2.3
2017-02-07,16,-2.2
2017-02-07,17,-2.2
2017-02-07,18,-2.7
2017-02-07,19,-3.9
2017-02-07,20,-4.8
2017-02-07,21,-5.5
2017-02-07,22,-4.3
2017-02-07,23,-4.6
2017-02-08,0,-5.4
2017-02-08,1,-6.3
2017-02-08,2,-6.6
2017-02-08,3,-6.0
2017-02-08,4,-6.5
2017-02-08,5,-7.0
2017-02-08,6,-7.5
2017-02-08,7,-6.9
2017-02-08,8,-7.5
2017-02-08,9,-8.6
2017-02-08,10,-8.5
2017-02-08,11,-7.8
2017-02-08,12,-6.9
2017-02-08,13,-6.1
2017-02-08,14,-4.9
2017-02-08,15,-4.2
2017-02-08,16,-4.4
2017-02-08,17,-5.2
2017-02-08,18,-6.0
2017-02-08,19,-7.1
2017-02-08,20,-7.2
2017-02-08,21,-7.4
2017-02-08,22,-7.8
2017-02-08,23,-7.6
2017-02-09,0,-8.0
2017-02-09,1,-8.1
2017-02-09,2,-7.8
2017-02-09,3,-7.6
2017-02-09,4,-7.8
2017-02-09,5,-7.8
2017-02-09,6,-8.1
2017-02-09,7,-8.3
2017-02-09,8,-7.7
2017-02-09,9,-7.5
2017-02-09,10,-7.4
2017-02-09,11,-7.1
2017-02-09,12,-6.0
2017-02-09,13,-4.7
2017-02-09,14,-3.7
2017-02-09,15,-2.9
2017-02-09,16,-1.9
2017-02-09,17,-1.6
2017-02-09,18,-2.5
2017-02-09,19,-3.2
2017-02-09,20,-3.6
2017-02-09,21,-3.8
2017-02-09,22,-3.5
2017-02-09,23,-3.3
2017-02-10,0,-3.4
2017-02-10,1,-3.6
2017-02-10,2,-3.3
2017-02-10,3,-3.9
2017-02-10,4,-3.8
2017-02-10,5,-3.4
2017-02-10,6,-3.2
2017-02-10,7,-3.9
2017-02-10,8,-4.0
2017-02-10,9,-3.4
2017-02-10,10,-2.9
2017-02-10,11,-2.3
2017-02-10,12,-1.4
2017-02-10,13,-0.1
2017-02-10,14,0.7
2017-02-10,15,0.9
2017-02-10,16,0.8
2017-02-10,17,0.2
2017-02-10,18,-0.4
2017-02-10,19,-1.4
2017-02-10,20,-1.8
2017-02-10,21,-2.8
2017-02-10,22,-3.4
2017-02-10,23,-3.7
2017-02-11,0,-3.4
2017-02-11,1,-2.7
2017-02-11,2,-2.3
2017-02-11,3,-2.1
2017-02-11,4,-3.0
2017-02-11,5,-3.9
2017-02-11,6,-3.9
2017-02-11,7,-3.8
2017-02-11,8,-3.3
2017-02-11,9,-2.8
2017-02-11,10,-2.4
2017-02-11,11,-2.8
2017-02-11,12,-2.7
2017-02-11,13,-2.2
2017-02-11,14,-2.2
2017-02-11,15,-0.7
2017-02-11,16,-0.5
2017-02-11,17,-1.9
2017-02-11,18,-3.4
2017-02-11,19,-3.8
2017-02-11,20,-4.4
2017-02-11,21,-4.4
2017-02-11,22,-4.5
2017-02-11,23,-5.3
2017-02-12,0,-5.3
2017-02-12,1,-5.5
2017-02-12,2,-5.5
2017-02-12,3,-5.3
2017-02-12,4,-5.0
2017-02-12,5,-5.4
2017-02-12,6,-5.6
2017-02-12,7,-5.8
2017-02-12,8,-5.8
2017-02-12,9,-5.5
2017-02-12,10,-5.3
2017-02-12,11,-4.4
2017-02-12,12,-3.8
2017-02-12,13,-1.2
2017-02-12,14,0.4
2017-02-12,15,-0.2
2017-02-12,16,-0.5
2017-02-12,17,-1.5
2017-02-12,18,-2.2
2017-02-12,19,-3.3
2017-02-12,20,-3.1
2017-02-12,21,-3.4
2017-02-12,22,-2.7
2017-02-12,23,-1.9
2017-02-13,0,-1.7
2017-02-13,1,-2.4
2017-02-13,2,-3.2
2017-02-13,3,-3.6
2017-02-13,4,-3.4
2017-02-13,5,-3.8
2017-02-13,6,-4.1
2017-02-13,7,-4.2
2017-02-13,8,-4.3
2017-02-13,9,-4.4
2017-02-13,10,-3.7
2017-02-13,11,-2.7
2017-02-13,12,-2.0
2017-02-13,13,-1.0
2017-02-13,14,-0.4
2017-02-13,15,0.4
2017-02-13,16,0.2
2017-02-13,17,-0.9
2017-02-13,18,-1.9
2017-02-13,19,-2.5
2017-02-13,20,-2.8
2017-02-13,21,-2.9
2017-02-13,22,-2.9
2017-02-13,23,-3.1
2017-02-14,0,-3.2
2017-02-14,1,-3.7
2017-02-14,2,-3.6
2017-02-14,3,-4.1
2017-02-14,4,-3.7
2017-02-14,5,-3.8
2017-02-14,6,-3.4
2017-02-14,7,-3.8
2017-02-14,8,-4.3
2017-02-14,9,-4.2
2017-02-14,10,-3.6
2017-02-14,11,-2.8
2017-02-14,12,-1.9
2017-02-14,13,-1.4
2017-02-14,14,-0.8
2017-02-14,15,0.4
2017-02-14,16,0.6
2017-02-14,17,-0.9
2017-02-14,18,-1.3
2017-02-14,19,-1.6
2017-02-14,20,-1.8
2017-02-14,21,-2.3
2017-02-14,22,-2.0
2017-02-14,23,-1.9</pre>
  <script type='text/javascript'>
    var teamName;
    var bubblesize = 27;
    var arraytoPush = [];
    var dataArray = [];
    var seriesArray = [];
    var teamCounter = 1;
    var myVar = document.getElementById("myVar_bubble").value;
    
    intialization(function() {
        createChart_bubble()
    });

    function intialization(callback){
      var j;
      for (j = 1; j < 3 ; j++)
      {
        teamName = "Team"+j.toString();
        var i;
        for (i = 0; i <6 ; i++){
          arrayToPush = [i,parseInt(myVar.charAt((j-1)*14+(i+1)*2)),bubblesize,j,teamName];
            dataArray.push(arrayToPush);

        }
        seriesArray.push({type:"bubble",color:randomColor(),data:dataArray});
          dataArray = [];
      }

      //var x = document.getElementById("demo");
      //x.innerHTML = arrayToPush.join();

      callback();
    }   

    function randomColor(){
      var symbols, color;
      symbols = "0123456789ABCDEF";

      color = "#";
      for (var i = 0;i<6;i++){
        color = color + symbols[Math.floor(Math.random() * 16)];
      }
      console.log(color);
      return color;
    }

    function createChart_bubble() {
      Highcharts.chart('bubble_container', {


        chart: {
          type: 'bubble',
          plotBorderWidth: 1,
          zoomType: 'xy'
        },

        legend: {
          enabled: false
        },

        title: {
          text: 'Emotion Comparison for Groups'
        },

        subtitle: {
          text: ''
        },

        accessibility: {
          point: {
            valueDescriptionFormat: '{index}. {point.name}, Catagory: {point.x}, Score: {point.y},'
          }
        },

        xAxis: {
          gridLineWidth: 1,
          title: {
            text: ''
          },
          categories: [
            "Joy", "Curiosity", 'Confidence', 'Neutrality','Challenge','Surprise'
          ],
          tickInterval: 1,

          accessibility: {
            rangeDescription: ''
          }
        },

        yAxis: {
          startOnTick: false,
          endOnTick: false,
          title: {
            text: ''
          },
          labels: {
            format: '{value} '
          },
          maxPadding: 0.2,

          accessibility: {
            rangeDescription: ''
          }
        },
        legend: {
          // layout: 'vertical',
          // align:'left',
          // verticalAlign:'top',
          // x: 100,
          // y: 70,
          // floating: true,
          backgroundColor: Highcharts.defaultOptions.chart.backgroundColor,
          borderWidth: 1,
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
        },

        tooltip: {
          useHTML: true,
          headerFormat: '<table>',
          pointFormat: '<tr><th colspan="2"><h3>{point.name}</h3></th></tr>' +

            '<tr><th>Score:</th><td>{point.y}</td></tr>',
          footerFormat: '</table>',
          followPointer: true
        },

        plotOptions: {
          series: {
            keys:['x','y','z','studentNum','name'],

            dataLabels: {
              enabled: true,
              format: '{point.studentNum}'
            }
          }
        },

        credits: {
          enabled: false
        },
        series:seriesArray
      });
    }
  </script>

  <script type='text/javascript'>
  var seriesArray = [];
  var dataArray = [];
  var current = 0;
  var nameArray = ["Your Frustration", "Your Confusion", "Your Boredom", "Your Happiness","Your Motivation"];

  var Frustration = 0;
  var Confusion = 0;
  var Boredom = 0;
  var Happiness = 0;
  var Motivation = 0;
  var words;
  var date;

  var timeData;
  var dataSeries_Frustration = [];
  var dataSeries_Confusion = [];
  var dataSeries_Boredom = [];
  var dataSeries_Happiness = [];
  var dataSeries_Motivation = [];
  var time2;
  var startTime = 1507188851000; // the start date of the chart (the number represents the number of miliseconds from 1970 Jan 01)
  var currentTime = startTime;
  var endTime = 1507707360000; // the last day of the chart
  var currentVisit;

  var seriesOptions = [],
    seriesCounter = 0;
    var myVar = document.getElementById("myVar_line").value;
  
  intialization(function() {
        createChart_line()
    });

  function intialization(callback){

    while(currentTime<=endTime){
      dataSeries_Frustration.push(0);
      dataSeries_Confusion.push(0);
      dataSeries_Boredom.push(0);
      dataSeries_Happiness.push(0);
      dataSeries_Motivation.push(0);
      currentTime = currentTime + 3600000; // 3600000 represents 1 hour
    }

    var time;
    var items = myVar.split("&");
    items[9] = ""


    for (j = 0; j < 10 ; j++)
      {
          item = items[j];
          item = item.split(",");
          

          timeData = 0;
          words = item;

          date = item[0];
          date = date.split("  ");
          
          if (date.length == 1) { break; }
          
          time = date[1];
          date = date[0];
          


          date = date.split("/");
          time = time.split(":");


          timeData = timeData + (parseInt(date[2])-1970)*31536000000;
          timeData = timeData + (parseInt(date[0])-1)*2592000000;

          

          timeData = timeData + (parseInt(date[1])*86400000);
          timeData = timeData + (parseInt(time[0])*3600000);
          timeData = timeData + parseInt(time[1])*60000;
          timeData = timeData + parseInt(time[2])*1000;


          Frustration = parseInt(words[1]);
          Confusion = parseInt(words[2]);
          Boredom = parseInt(words[3]);
          Happiness = parseInt(words[4]);
          Motivation = parseInt(words[5]);
          timeData = (timeData - startTime)/3600000; // the number of hours in the chart
          timeData = Math.ceil(timeData);

          dataSeries_Frustration[timeData]=Frustration;
          dataSeries_Confusion[timeData]=Confusion;
          dataSeries_Boredom[timeData]=Boredom;
          dataSeries_Happiness[timeData]=Happiness;
          dataSeries_Motivation[timeData]=Motivation; 
      }

          seriesOptions[0] = {
          name: "Your Frustration",
          data: dataSeries_Frustration,
          pointStart: Date.UTC(2017,9,19),
          pointInterval: 3600*1000
        };

        seriesOptions[1] = {
          name: "Your Confusion",
          data: dataSeries_Confusion,
          pointStart: Date.UTC(2017,9,19),
          pointInterval: 3600*1000
        };

        seriesOptions[2] = {
          name: "Your Boredom",
          data: dataSeries_Boredom,
          pointStart: Date.UTC(2017,9,19),
          pointInterval: 3600*1000
        };

        seriesOptions[3] = {
          name: "Your Happiness",
          data: dataSeries_Happiness,
          pointStart: Date.UTC(2017,9,19),
          pointInterval: 3600*1000
        };

        seriesOptions[4] = {
          name: "Your Motivation",
          data: dataSeries_Motivation,
          pointStart: Date.UTC(2017,9,19),
          pointInterval: 3600*1000
        };


      callback();
    }




    function createChart_line() {
      Highcharts.stockChart('line_container', {
        chart: {
          renderTo: 'line_container',
          zoomType: 'xy',
          panning: true,
          panKey: 'shift',
          plotBorderWidth: 1
        },

        title: {
          text: 'Emotion Change'
        },

        subtitle: {
          text: "This figure shows a particular student's emotion change. Select a student from the list."
        },


        yAxis: {
          title: {
            text: 'Y axis'
          },

        },

        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
            month: '%e. %b',
            year: '%b'
          },
          title: {
            text: 'Date'
          }
        },
        plotOptions: {
          series: {
            label: {
              connectorAllowed: false
            },

          }
        },


        credits: {
          enabled: false
        },

        legend: {
          enabled: true,
          align: 'center',
          // backgroundColor: '#FCFFC5',
          // borderColor: 'black',
          // borderWidth: 2,
          layout: 'horizontal',
          verticalAlign: 'bottom',
          y: 0,
          //shadow: true
        },


        series: seriesOptions,

        responsive: {
          rules: [{
            condition: {
              maxWidth: 500
            },
            chartOptions: {
              legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
              }
            }
          }]
        }
      });

    }

    

  </script>




  <script type='text/javascript'>
    var seriesArray = [];
    var items = [];
    var item_str = [];
    var item_num = [];
    var names = ['Frustrated', 'Confused','Bored','Happy','Motivated'];
    var temp = [];
    var myVar = document.getElementById("myVar_polar").value;
    

    intialization_polar(function() {
        createChart_polar()
    }); 

    function intialization_polar(callback){

        items = myVar.split("&");

        //NOT working
        for (var i=0; i< items.length ; i++){
          item_str = items[i].split(",");
          item_num = item_str.map(Number);
          seriesArray.push({name: names[i],data:item_num});

          temp = item_num;
          item_num = [];
        }
        //NOT working

        seriesArray = []
        for (var i=0; i< items.length ; i++){
          item_str = items[i].split(",");
          item_num = item_str.map(Number);
          seriesArray.push(item_num)
        }


        callback();
      }   

    function createChart_polar() {
      Highcharts.chart('polar_container', {

        chart: {
          polar: true,
          type: 'column'
        },

        xAxis: {
          type: 'category',
          categories: [
                  "Brainstorming","Interface design",'Implementation','Documentation','Experimentation','Install Instructions'
              ],
        },

        credits: {
          enabled: false
        },
        
        
        series: [{
            name:names[0],
            data: seriesArray[0]
        }, {
            name: names[1],
            data: seriesArray[1]
        }, {
            name: names[2],
            data: seriesArray[2]
        },{
            name:names[3],
            data:seriesArray[3]
        },{
            name:names[4],
            data:seriesArray[4]
        }
        ]

          //series: seriesArray

      });
    }
    


  </script>


  <script type='text/javascript'>
    
    var seriesArray = [];
    var items = [];
    var item_str = [];
    var myVar = document.getElementById("myVar_scatter").value;
    var tag = [];
    var time = [];
    var value = [];
    var date = [];
    var hour = [];
    var myData = [];
    var othersData = [];
     
    
    intialization_scatter(function() {
        createChart_scatter()
    }); 

    function intialization_scatter(callback){
        items = myVar.split("&");
        for (var i=0; i< items.length ; i++){      
          time_data = 0;
          item_str = items[i].split(",");
          tag = item_str[0];
          time = item_str[1];
          value = item_str[2];

          //date & time
          time = time.split(" "); 
          date = time[0];
          hour = time[1];
          date = date.split("/");
          hour = hour.split(":");
          var mytime = new Date(parseInt(date[2]), parseInt(date[0])-1, 
                           parseInt(date[1]), parseInt(hour[0]),
                           parseInt(hour[1]), parseInt(hour[2])); 
          var millis = mytime.getTime();

          arrayToPush = [millis,parseInt(value)];
          if (parseInt(tag)==0){
            myData.push(arrayToPush);
          }
          else{
            othersData.push(arrayToPush);
          }       
      }

      //document.write("scatter_");
      //document.write(myData);
      //document.write("__");
      //document.write(othersData);  

      callback();
    } 

    function createChart_scatter() {
      Highcharts.chart('scatter_container', {
        chart: {
          type: 'scatter',
          zoomType: 'xy'
        },

        title: {
          text: 'Demo Chart'
        },

        subtitle: {
          text: 'This is subtitle'
        },

        yAxis: {
          title: {
            text: 'Y axis'
          },

        },

        xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
            month: '%e. %b',
            year: '%b'
          },
          title: {
            text: 'Date'
          }
        },

        plotOptions: {
          scatter: {
            marker: {
              radius: 5,
              states: {
                hover: {
                  enabled: true,
                  lineColor: 'rgb(100,100,100)'
                }
              }
            },
            states: {
              hover: {
                marker: {
                  enabled: false
                }
              }
            },
            tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: 'Score: {point.y}'
            }
          }
        },

        credits: {
          enabled: false
        },

        series: [{
          name: 'Confusion of other students',
          color: 'rgba(223, 83, 83, .5)',
          data: othersData
        }, {
          name: 'You',
          color: 'rgba(119, 152, 191, .5)',
          data: myData
        }],

        responsive: {
          rules: [{
            condition: {
              maxWidth: 500
            },
            chartOptions: {
              legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
              }
            }
          }]
        }
      });
    }

  </script>



  <script type='text/javascript'>

  createChart();

  function createChart() {
    Highcharts.chart(   'heatmap_container', {


        data: {
            csv: document.getElementById('csv').innerHTML
        },

        chart: {
            type: 'heatmap'
        },

        boost: {
            useGPUTranslations: true
        },

        title: {
            text: 'Highcharts heat map',
            align: 'left',
            x: 40
        },

        subtitle: {
            text: 'This is subtitle',
            align: 'left',
            x: 40
        },

        legend:{
          borderWidth: 1,
                    backgroundColor: 'rgba(255,255,255,0.85)',
                   // floating: true,
                    width: 400,
                    symbolWidth: 390,


                    enabled: true,
            align: 'center',
            layout: 'horizontal',
            verticalAlign: 'bottom',
            y: 0,
        },

        colorAxis: {
              min: 0,
              max: 3,
              width: 400,
              tickLength: 100,
              stops: [
                [0, '#FF9F9F'],
                [0.25, '#FF1111'],
                [0.25001, '#9FABFF'],
                [0.5, '#1432FF'],
                [0.5001, '#FDFF9E'],
                [0.75, '#FBFF14'],
                [0.75001, '#B3FF9E'],
                [0.9, '#15FC54']
              ],

              startOnTick: false,
              endOnTick: false,
              categories: ['Happy', 'Sad' ,'Excited', 'Bored'],

              labels: {
                  formatter: function () {
                      return this.value;
                  },
                  allowOverlap:false,
                  symbolWidth: 200,
                  style:{
                      fontSize:"12px"
                  }
              }
        },


        xAxis: {
            type: 'datetime',
            min: Date.UTC(2016, 11, 1),
            max: Date.UTC(2017, 2, 12, 23, 59, 59),
            labels: {
                align: 'left',
                x: 5,
                y: 14,
                format: '{value:%B}' // long month
            },
            showLastLabel: false,
            tickLength: 30
        },

        yAxis: {
            title: {
                text: null
            },
            categories:[
                'Student1',
                'Student2',
                'Student3',
                'Student4',
                'Student5',
                'Student6',
                'Student7',
                'Student8',
                'Student9',
                'Student10',
                'Student11',
                'Student12',
                'Student13',
                'Student14',
                'Student15',
                'Student16',
                'Student17',
                'Student18',
                'Student19',
                'Student20',
                'Student21',
                'Student22',
                'Student23',
                'Student24',
                'Student25',
                'Student26'
            ],
        },

        series: [{
            boostThreshold: 100,
            borderWidth: 0,
            nullColor: '#EFEFEF',
            colsize: 24 * 36e5, // one day
            tooltip: {
                headerFormat: 'Temperature<br/>',
                pointFormat: '{point.x:%e %b, %Y} {point.y}:00: <b>{point.value} ℃</b>'
            },
            turboThreshold: Number.MAX_VALUE // #3404, remove after 4.0.5 release
        }]
    });
}


  </script>
<footer></footer>
</body>
<script src="{% static 'js/templatePrint.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</html>
