:root{
    --ontColor-mid: #4e2583;
    --ontColor-light: #4f2e84;
    --ontColor-dark: #380e6e;
    --secondaryColor: #FF9F67;
}
html {
    scroll-behavior: smooth;
}
h2{
    border: 0;
}
.chart>div{
    margin: auto;
}
.card{
    margin: 50px 10px;
}
.card-body{
    overflow-x: auto;
}
.card-header{
    width: 100%;
    text-align: center;
}
#navbar-charts{
    position: fixed;
    z-index: 1;
    left: 20px;
    top: 50px;
}
.nav{
    background-color: var(--ontColor-mid);    
    opacity: 0.5;
}
.nav:hover{
    opacity: 1;
}
.nav-link{
    color: white;
    transition: 0.1s ease;
    margin: 1px;
}
.nav-link:hover{    
    border-bottom: 3px solid;
    border-radius: 0;
    border-color: var(--secondaryColor);
    color: var(--secondaryColor)
}
.nav-pills .nav-link.active, .nav-link:active{
    background-color: var(--secondaryColor);
}
#charts{
    position: relative;   
}         
#charts h2>.fas{
    float: right;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 50%;
    transition: 0.3s ease;
}
#charts h2>.fas:hover{    
    background-color: var(--ontColor-mid);
    color: whitesmoke;
}
.flip{
    transform: rotate(180deg);
}
#charts .btn-group {
    /* position: absolute;
    top: 70px;
    left: 10px; */
    margin-top: 10px;
}

#charts .btn-group .btn.active{
    background-color: var(--secondaryColor);
    color: whitesmoke;
    pointer-events: none;
}
#charts .btn-group .btn{
    padding: 15px 20px !important;
    background-color: lightgray;
    color: var(--ontColor-mid);
}
#charts .btn-group .btn:hover{
    background-color: lightgray;
    color: var(--ontColor-light);
}
#charts .btn-group .btn:hover::before{
    transform: scale(0);
}
#charts .btn-group input{
    visibility: hidden;
}
@media screen and (max-width: 767px){
    .card-body{
        overflow-x: scroll;
    }
    .nav{
        opacity: 1;
    }
}
